.box {
  border: 5px solid black;
  width: 510px;
}

.box:first-child {
  margin-right: 20px;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.win {
  border: 10px solid green;
}

.lose {
  border: 10px solid red;
}

.tie {
  border: 10px solid yellow;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.main > button {
  font-size: 50px;
  margin-right: 20px;
  transition: font-size 0.2s ease-in-out;
}
.main > button:hover {
  font-size: 60px;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: darkred;
  color: white;
  width: 150px;
  padding: 6px 0;
  font-size: 35px;
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  transition: box-shadow 0.5s ease-in-out;
}

.reset-btn:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .box {
    width: 90%;
    margin-bottom: 20px;
  }

  .main {
    flex-direction: column;
  }

  .box:first-child {
    margin-right: 0;
  }
  .box:last-child {
    margin-bottom: 0;
  }
  .main > button {
    font-size: 35px;
    margin-right: 10px;
  }
  .main > button:hover {
    font-size: 40px;
  }
  .reset-btn {
    width: 100px;
    padding: 5px 0;
    font-size: 25px;
    border-radius: 15px;
  }
  .reset-btn:hover {
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  }
}
